*{
  padding: 0;
  margin: 0;
}
.content{
  weight: 100%;
  height: 100%;
  
}
.content-left{
  weight: 40%;
  height: 1000px;
  background-color:#F5F5F5;
  float: left;
 
}
.content-right{
  weight: 60%;
  height: 400px;
  background-image:url('photo/1.jpg');
  line-height:30px;  
}

.left-title{
  height: 50px;
  width: 100%;   
}

 .left-title>a{
   display: block;
   width: 100%;
   height: 50px;
   /*Vertical navigation*/
   line-height:50px;
   text-align:center;
   color: white;
   text: decoration none; 
 }

.nav{
  margin-top:5px; 
}

.nav-title{
  height: 40px;
  width:100%;
  text-align:center;
  line-height:40px;
  color: SkyBlue;
}

.nav-content{
  height:100%;
  width:100%;
  background-color:#F5F5F5;
  font-size: 20px;
}

.nav-content>a{
  display: block;
  height: 30px;
  width:100%;
  color:#87CEEB	;
  text-decoration:none;
  line-height:30px;
  margin:110px;
}

.nav-menu{
  text-align:center;
  transform: scale(2, 1.38);
}